:root {
  /* Text color */
  --logo-basic: #000000;
  --logo-web: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-color: #2196f3;
  --logo-studio-footer: #ffffff;
  --office-address-color: #ffffff;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);

  --hero-title-color: #ffffff;
  --hero-button-color: #ffffff;

  --filter-button-hover-color: #ffffff;

  /* Button */
  --background-button: #2196f3;

  /* Hero block */
  --hero-color: #2f303a;

  /* Footer block */
  --footer-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid black;
  /* background-color: burlywood; */
}

/*  Logo */
.logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-basic);

  outline: 1px solid blueviolet;
}

.logo-web {
  color: var(--logo-web);
}

/* Main navigation */
.navigation-flex {
  display: flex;
}

.main-navigation {
  display: flex;
}

.main-navigation-list {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.navigation-item {
  margin-right: 50px;

  outline: 1px solid blueviolet;
}

.navigation-item:last-child {
  margin-right: 0;
}

.header-address {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;

  outline: 1px solid blueviolet;
}

.header-address-list {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.address-list-item {
  margin-right: 50px;

  outline: 1px solid blueviolet;
}

.address-list-item:last-child {
  margin-right: 0;
}

.link-navigation {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

.link-navigation:hover,
.link-navigation:focus,
.link-navigation-visited:visited {
  color: var(--hover-color);
}

/* Contacts header */
.contacts-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.contacts-header:hover,
.contacts-header:focus {
  color: var(--hover-color);
}

/* Main */
.color-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: block;
  border: none;

  background-color: var(--background-button);
  color: var(--hero-button-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: var(--footer-color);
}

.logo-studio {
  color: var(--logo-studio-footer);
}

.office-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--office-address-color);
}

.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--contacts-footer-color);
}
