/* Герой */
.hero {
  background-color: var(--hero-color);
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-title-color);
}

.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
}

/* Наши преимущества */
.advantages-list {
  display: flex;
  padding-bottom: 94px;
  padding-top: 94px;
  padding-left: 0;

  /* outline: 1px solid blueviolet; */
}

.advantages-item {
  flex-basis: calc(100% / 4);
  margin-right: 30px;

  /* outline: 1px solid blueviolet; */
}

.advantages-item:last-child {
  margin-right: 0;

  /* outline: 1px solid blueviolet; */
}

.advantage-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Наша команда */
.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
