/* Фильтр */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;

  color: var(--main-text-color);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:visited {
  background-color: var(--background-button);
  color: var(--filter-button-hover-color);
}

/* Наши работы */

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.type-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
